{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}İş Arayan Profil Detayları{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">Profil Detayları</h1>
                    <div class="col-6 pt-4">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success text-center" role="alert">
                                        {% if message.tags %}
                                            <p>{{ message }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <img class="img-fluid rounded-start" src="{% if jobseeker.avatar %}{% get_media_prefix %}{{ jobseeker.avatar_thumbnail_140x140 }}{% else %}{% static "/img/no-img.webp" %}{% endif %}" alt="{{ jobseeker.get_full_name }}">
                            <p><strong>Kullanıcı Adı:</strong> {{ jobseeker.profile }}</p>
                            <p><strong>İsim:</strong> {{ jobseeker.first_name }}</p>
                            <p><strong>Soyisim:</strong> {{ jobseeker.last_name }}</p>
                            <p><strong>Email:</strong> {{ jobseeker.email }}</p>
                            <p><strong>Telefon:</strong> {{ jobseeker.phone }}</p>
                            <p><strong>Ülke:</strong> {{ jobseeker.country }}</p>
                            <p><strong>Şehir:</strong> {{ jobseeker.city }}</p>
                            <p><strong>Başlık/Uzmanlık Alanı:</strong> {{ jobseeker.profession_title }}</p>
                            <p><strong>Beceriler:</strong>
                            {% for skill in jobseeker.skills.all %}
                                {{ skill }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </p>
                            <p><strong>Kısa Özgeçmiş:</strong> {{ jobseeker.short_resume }}</p>
                            <p><strong>CV:</strong> {{ jobseeker.cv_file }}</p>
                            {% if user.is_authenticated and jobseeker.profile.id == user.id %}
                            <a href="{% url 'profiles:jobseeker_profile_update' slug=jobseeker.slug %}" class="btn btn-dark" role="button">Profili Güncelle</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}