{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bu e-postayı, {{ site_name }} adresindeki kullanıcı hesabınız için bir şifre sıfırlama isteğinde bulunulduğu için alıyorsunuz.{% endblocktranslate %}

{% translate "Lütfen aşağıdaki bağlantıya tıklayarak açılan sayfadan yeni bir şifre belirleyin:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Unutmuş olma ihtimalinize karşı Kullanıcı adınız:' %} {{ user.get_username }}

{% translate "Sitemizi kullandığınız için teşekkürler!" %}

{% blocktranslate %}{{ site_name }} ekibi{% endblocktranslate %}

{% endautoescape %}