{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Şifre Sıfırlama Emaili Gönderildi{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">Şifre Sıfırlama Emaili Gönderildi</h1>
                    <div class="col-6 pt-4">
                        <div class="alert alert-success">
                            Parolanızı sıfırlamak için talimatları içeren bir e-posta gönderildi.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}
