{% extends 'base.html' %}

{% block title %}Şifre Sıfırlama Emaili Gönderildi{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">Şifre Sıfırlama Emaili Gönderildi</h1>
                    <div class="col-6 pt-4">
                        <div class="alert alert-info">
                            Şifreniz başarıyla değiştirildi.
                        </div>
                        <a href="{% url 'profiles:login' %}">Buradan Giriş Yapın</a>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}
