{% extends 'base.html' %}
{% load static %}

{% block title %}IK Uzmanı Profil Detayları{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">Profil Detayları</h1>
                    <div class="col-6 pt-4">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success text-center" role="alert">
                                        {% if message.tags %}
                                            <p>{{ message }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <img class="img-fluid rounded-start" src="{% get_media_prefix %}{{ recruiter.avatar_thumbnail_140x140 }}" alt="{{ recruiter.get_full_name }}">
                            <p><strong>Kullanıcı Adı:</strong> {{ user.get_username }}</p>
                            <p><strong>İsim:</strong> {{ recruiter.first_name }}</p>
                            <p><strong>Soyisim:</strong> {{ recruiter.last_name }}</p>
                            <p><strong>Email:</strong> {{ recruiter.email }}</p>
                            <p><strong>Telefon:</strong> {{ recruiter.phone }}</p>
                            <p><strong>Ülke:</strong> {{ recruiter.country }}</p>
                            <p><strong>Başlık/Uzmanlık Alanı:</strong> {{ recruiter.profession_title }}</p>
                            <p><strong>Firma:</strong> {{ recruiter.company }}</p>
                            {% if user.is_authenticated and recruiter.profile.id == user.id %}
                            <a href="{% url 'profiles:recruiter_profile_update' slug=recruiter.slug %}" class="btn btn-dark" role="button">Profili Güncelle</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}