{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}IK Uzmanı Profil Güncelleme{% endblock %}

<!--Navigation-->
{% block navbar %}
                            <li class="nav-item"><a class="nav-link" data-scroll href="#" target="_top">İş İlanları</a></li>
                            <li class="nav-item"><a class="nav-link" data-scroll href="#" target="_top">İş Arayanlar</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" data-scroll href="{% url 'profiles:recruiter_profile' %}" target="_top">Profilim</a></li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" data-scroll href="{% url 'profiles:signup' %}" target="_top">Kullanıcı Kaydı</a></li>
                            <li class="nav-item"><a class="nav-link" data-scroll href="{% url 'profiles:login' %}" target="_top">Kullanıcı Girişi</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" data-scroll href="{% url 'profiles:logout' %}" target="_top">({{ user.get_username }}) Çıkış Yap</a></li>
                            {% endif %}
{% endblock %}
<!--End Navigation-->

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row">
                    <h1 class="text-center">Profil Güncelle</h1>
                    <div class="col d-flex justify-content-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-dark mt-3 mb-5" type="submit">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}