{% extends 'base.html' %}

{% block title %}Kullanıcı Kaydı{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row text-center">
                    <div class="col">
                        <h1>Üye olun</h1>
                        <p>Lütfen üye olmak için üyelik tipini seçiniz.</p>
                        <div class="d-grid col-2 gap-3 mx-auto">
                            <a href="{% url 'profiles:jobseeker_signup' %}" class="btn btn-dark" role="button">Ben İş Arıyorum</a>
                            <a href="{% url 'profiles:recruiter_signup' %}" class="btn btn-dark" role="button">Ben IK Uzmanıyım</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}