{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header h1 text-center">Baykar Online İş Arama Portalı Projesi</div>
                        <div class="card-body">
                            <h3 class="card-title">PROJE BİLGİ FORMU</h3>
                            <p class="card-text">Farklı alanlardan insan kaynakları uzmanının açık pozisyonlarını tek bir platformda nasıl yayınladığını ve bunun ilgili adaylara nasıl ulaştığını hiç merak ettiniz mi? Django projesi ile iş arama portalı oluşturarak kendiniz öğrenebilirsiniz.
                            <h4 class="card-title">Portal aşağıdaki özellikleri içerecektir</h4>
                            <h5 class="card-title">Kayıt ve oturum açma:</h5>
                            <p>Hem yönetici hem de iş arayan taraflarında bir kayıt ve oturum açma sayfası sağlanır. Yönetici, kullanıcı kayıtlarını kontrol edebilirken, iş arayan, platformda iş arama, iş başvurusu vb. gibi amaçlanan faaliyetleri kaydolarak veya oturum açarak gerçekleştirebilir.</p>
                            <h5 class="card-title">Tercihe göre iş ilanları:</h5>
                            <p>Kullanıcının tercihi, uygulamadaki bir filtreleme mekanizması aracılığıyla toplanabilir. Örneğin, birisi yalnızca bir Django projeleri geliştirici işi istiyorsa, bununla ilgili iş ilanları kişinin akışında görüntülenebilir.</p>
                            <h5 class="card-title">Profil yönetimi:</h5>
                            <p>Kullanıcı, tercihlerine göre güncelleyerek, silerek veya veri ekleyerek profilini yönetebilmelidir. Bir parola sıfırlama mekanizması da uygulanmalıdır.</p>
                            <h5 class="card-title">Kullanılması istenen minimum teknolojiler:</h5>
                            <ul>
                                <li>Python</li>
                                <li>DJANGO</li>
                                <li>Html</li>
                                <li>Css</li>
                                <li>Js</li>
                                <li>Postgresql</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}