{% extends 'base.html' %}
{% load is_already_applied %}

{% block title %}İş İlanı Detayları{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">İş İlanı Detayları</h1>
                    <div class="col-6 pt-4">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success text-center" role="alert">
                                        {% if message.tags %}
                                            <p>{{ message }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p><strong>İlan Başlığı:</strong> {{ job.job_title }}</p>
                            <p><strong>İlan Tarihi:</strong> {{ job.date_added }}</p>
                            <p><strong>Firma:</strong> {{ job.company }}</p>
                            <p><strong>IK Uzmanı:</strong> {{ job.recruiter.get_full_name }}</p>
                            <p><strong>Çalışma Şekli:</strong> {{ job.job_insight }}</p>
                            <p><strong>Ülke:</strong> {{ job.location }}</p>
                            <p><strong>İstenilen Beceriler:</strong>
                            {% for skill in job.skills_req.all %}
                                {{ skill }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </p>
                            <p><strong>İlan Detayları:</strong> {{ job.description|safe }}</p>

                            {% if user.is_authenticated and job.recruiter.profile.id == user.id %}
                            <a href="{% url 'mainsite:job_update' slug=job.slug %}" class="btn btn-dark mb-5" role="button">İlanı Güncelle</a>
                            {% endif %}

                            {% if user.is_authenticated and not job.recruiter.profile.id == user.id %}
                            {% is_already_applied job user.id as is_applied %}
                                {% if is_applied %}
                                <button type="button" class="btn btn-danger disabled">Başvuruldu</button>
                                {% else %}
                                <form action="{% url 'profiles:apply_job' job.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                    <input type="submit" class="btn btn-success mb-5" value="Başvur"/>
                                </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}