{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}İş İlanı Güncelleme{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center ">
                    <h1 class="text-center">İş İlanı Güncelle</h1>
                    <div class="col-6 pt-4">
                        {% if job.recruiter.profile.id == user.id %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|crispy }}
                            <button class="btn btn-dark mt-3 mb-5" type="submit">Güncelle</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}