{% extends 'base.html' %}
{% load is_already_applied %}

{% block title %}İş İlanları{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row">
                    <h1 class="text-center">İş İlanları</h1>
                    {% for job in related_jobs %}
                    <div class="col-4 pt-4">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ job.job_title }}</h5>
                                        <p class="card-text">{{ job.company }} - {{ job.job_insight }}</p>
                                        <p class="card-text text-muted">Gereksinimler:
                                            {% for skill in job.skills_req.all %}
                                            {{ skill }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                        <p class="card-text">{{ job.description|striptags|escape|truncatechars:120 }}</p>
                                        <a href="{{ job.get_absolute_url }}" class="btn btn-primary">İlanı Görüntüle</a>
                                        {% if user.is_authenticated %}
                                            {% is_already_applied job user.id as is_applied %}
                                            {% if is_applied %}
                                                <button type="button" class="btn btn-danger disabled">Başvuruldu</button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}